@charset "UTF-8";
header {
  background-image: url("First background image.png");
  /* Растягиваем изображение на всю ширину и высоту div */
  background-size: cover;
  /* Закрепляем изображение на заднем плане */
  background-attachment: fixed;
  /* Центрируем изображение по горизонтали и вертикали */
  background-position: center;
}

.zatemnenie1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 10vh;
  padding: 0% 10% 0% 10%;
  position: relative;
}

.desktop-btn {
  display: block;
  /* По умолчанию кнопки видны */
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  /* если нужно */
  color: white;
}

.desktop-btn2 {
  border: 3px solid red;
  display: block;
  /* По умолчанию кнопки видны */
  background-color: transparent;
  padding: 7px;
  margin: 0;
  cursor: pointer;
  /* если нужно */
  color: white;
}

.menu-items {
  display: none;
  /* По умолчанию бургер меню скрыто */
  position: absolute;
  top: 78%;
  right: 0;
  width: 35%;
  height: 58vh;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  text-align: center;
  list-style-type: none;
}

.menu-items li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  /* Размер шрифта */
  display: block;
  padding: 10px 0;
  /* Отступы для пунктов */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.menu-items.show {
  display: block;
  /* Показываем бургер меню */
}

.menu-items li {
  margin-bottom: 10px;
  position: relative;
}

.menu-items li:hover {
  border: 5px solid red;
  /* Обводка при наведении */
}

.burger-btn {
  display: none;
  /* По умолчанию бургер кнопка скрыта */
  padding: 8px 16px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 4px;
  border: 4px solid red;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .desktop-btn {
    display: none;
    /* Скрываем кнопки на мобильных устройствах */
  }
  .burger-btn {
    display: block;
    /* Показываем бургер кнопку на мобильных устройствах */
  }
}
.BackgroundPhoto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Выравнивание по горизонтали */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Выравнивание по вертикали */
  /* Указываем ссылку на изображение */
  background-image: url("First background image.png");
  /* Растягиваем изображение на всю ширину и высоту div */
  background-size: cover;
  /* Закрепляем изображение на заднем плане */
  background-attachment: fixed;
  /* Центрируем изображение по горизонтали и вертикали */
  background-position: center;
  min-height: 60vh;
  /* Например, устанавливаем высоту контейнера */
}
.BackgroundPhoto img {
  max-width: 100%;
  /* Чтобы изображение не выходило за пределы контейнера */
  max-height: 100%;
  /* То же самое */
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.Pole {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Выравнивание по горизонтали */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: rgb(29, 29, 29);
}
.Pole img {
  margin-left: 20%;
}

@media (max-width: 830px) {
  img {
    display: none;
  }
}
@media (min-width: 830px) and (max-width: 1240px) {
  img {
    width: 50%;
    margin-left: 10%;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

.ui-form {
  max-width: 350px;
  padding: 80px 30px 30px;
  /* Изменено: добавлен отступ слева */
  background: rgb(29, 29, 29);
}

.ui-form h3 {
  position: relative;
  z-index: 5;
  margin: 0 0 60px;
  text-align: center;
  color: #4a90e2;
  font-size: 30px;
  font-weight: normal;
}

.form-row {
  position: relative;
  margin-bottom: 40px;
  /* Изменено: добавлен отрицательный отступ слева */
}

.form-row input {
  display: block;
  width: 100%;
  padding: 0 10px;
  line-height: 40px;
  font-family: "Roboto", sans-serif;
  background: none;
  border-width: 0;
  border-bottom: 2px solid #4a90e2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  color: white;
}

.form-row label {
  position: absolute;
  left: 13px;
  color: #9d959d;
  font-size: 20px;
  font-weight: 300;
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.form-row input:focus {
  outline: 0;
  border-color: #F77A52;
}

.form-row input:focus + label,
.form-row input:valid + label {
  -webkit-transform: translateY(-60px);
          transform: translateY(-60px);
  margin-left: -14px;
  font-size: 14px;
  font-weight: 400;
  outline: 0;
  border-color: #F77A52;
  color: #F77A52;
}

.ui-form input[type=submit] {
  width: 100%;
  padding: 0;
  line-height: 42px;
  background: #4a90e2;
  border-width: 0;
  color: white;
  font-size: 20px;
}

.ui-form p {
  margin: 0;
  padding-top: 10px;
}

footer {
  background-image: url("First background image.png");
  /* Растягиваем изображение на всю ширину и высоту div */
  background-size: cover;
  /* Закрепляем изображение на заднем плане */
  background-attachment: fixed;
  /* Центрируем изображение по горизонтали и вертикали */
  background-position: center;
  /*min-height: 10vh;*/
  color: white;
}
footer .zatemnenie {
  background-color: rgba(0, 0, 0, 0.7);
}
footer .zatemnenie img {
  padding: 1% 0 0 1%;
  max-width: 10%;
  max-height: 10%;
}

a {
  color: white;
  text-decoration: none;
}